.header {
  width: 100%;
background-color: black;
padding: 1px 0;
margin: 1px;
  opacity: 100%;

  h1 {
    font-size: 29px;
    max-width: 15%;
    position: relative;
    left: 50%;
    color: #fff;

  }

}
