@import "base/_base";
@import "partials/_hero-unit";

@import "partials/_banner";
@import "partials/_header";

.img-style {
  position: relative;
  left: 46%;
  top: 25%;
  width: 10%;
}
.btn-primary {
  position: relative;
  left: 495px;
  top: 33%;
  background: #cb4e4e;
    color: #fff;
    box-shadow: 0 3px #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
        border-radius: 40px;
        border: none;
font-family: inherit;
font-size: inherit;

background: #17954c;
cursor: pointer;
padding: 10px 50px;
display: inline-block;
margin: 15px 30px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 500;
outline: none;
position: relative;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}
.btn-primary:hover {
    background: #24b662;

}
.btn-primary:active {
  border-color: #17954c;
background-color: black;
}
